* {
  margin: 0px;
}

:root {
  --color-primary: #154360;
  --color-secondary: #c70039;
  --color-terciary: #ffd15c;
  --font-primary: "Noto Sans JP", sans-serif;
}

.navbar {
  height: 100vh;
  position: fixed;
  width: 25%;
  background-color: var(--color-primary);
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: var(--font-primary);
  border-right: 1px solid gray;
  box-sizing: border-box;
  padding: 0px 50px;
  display: none;
}

.titlen {
  margin-top: 60px;
  margin-bottom: 103px;
  font-size: 28px;
}

.listanav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.items {
  margin: 8px 0px;
  height: 32px;
  list-style: none;
  font-size: 16px;
}

.iconos {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.cuerpo {
  position: relative;
  font-family: var(--font-primary);
  left: 0;
  background-color: rgb(245, 245, 245);
}

.nonav {
  height: 100vh;
  position: relative;
  background-color: var(--color-primary);
  display: flex;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 16px;
  z-index: 0;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  padding-bottom: 290px;
}

.imgperfil {
  width: 108px;
  height: 108px;
  border-radius: 50px;
}

.title {
  margin-top: 65px;
  margin-bottom: 0px;
  font-size: 28px;
}

.subtitle {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 16px;
}

.iconsnav {
  display: flex;
}

.icons {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  animation-name: transicionar;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes transicionar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.button {
  margin-top: 24px;
  border-radius: 50px;
  background-color: var(--color-secondary);
  color: white;
  font-family: var(--font-primary);
  padding: 10px;
  border: solid 1px var(--color-secondary);
}

.button:focus,
.button:hover {
  outline: none;
  background-color: #c70032;
}

.scrool {
  margin-top: 60px;
  box-sizing: border-box;
  margin-bottom: 12px;
}


.aboutme {
  position: relative;
  padding: 55px 60px;
  display: flex;
  flex-direction: column;
}

.about {
  margin: 38px 0px;
  box-sizing: border-box;
  font-size: 28px;
}

.imgperfil1 {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
}

.card {
  background-color: white;
  box-shadow: 1px 1px 1px 1px gray;
  border-radius: 10px;
  padding: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}



label {
  padding-right: 10px;
  font-size: 1rem;
}


.services {
  position: relative;
  padding: 55px 60px;
  display: flex;
  flex-direction: column;
}

.cardservices{
  display: flex;
  align-items: center;

  border-radius: 20px;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
}

.imgservices{
  width: 100px;
  height: 100px;
  margin-bottom: 22px;

}

.cardp{
  font-size: 16px;
margin-top: 22px;
}

.containers{
  display: flex;
  flex-direction: column;
}

.cardservicesc{
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  margin: 52px 0px;
}





@media (min-width: 480px) {
  .navbar {
    display: flex;
  }

  .nonav {
    width: 100%;
    left: 0;
  }

  .cuerpo {
    width: 75%;
    left: 25%;
  }

  .description {
    display: flex;
  }

  .card {
    display: flex;
    flex-direction: row;
  }

  .containers{
flex-direction: row;
  }

  .cardservicesc{
    margin: 0px 52px;
  }
  

  
}
