* {
  margin: 0px;
}

:root {
  --color-primary: #154360;
  --color-secondary: #c70039;
  --color-terciary: #ffd15c;
  --font-primary: "Noto Sans JP", sans-serif;
}

.navbar {
  height: 100vh;
  position: absolute;
  width: 25%;
  background-color: var(--color-primary);
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: var(--font-primary);
  border-right: 1px solid gray;
  box-sizing: border-box;
  padding: 0px 50px;
  display: none;
}

.titlen {
  margin-top: 60px;
  margin-bottom: 103px;
  font-size: 28px;
}

.items {
  margin: 8px 0px;
  list-style: none;
}

.nonav {
  height: 100vh;
  position: relative;

  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: var(--font-primary);
  font-size: 16px;
  z-index: 0;
  width: 100%;
  left: 0;
}

.imgperfil {
  width: 108px;
  height: 108px;
  border-radius: 50px;
}

.title {
  margin-top: 65px;
  margin-bottom: 0px;
  font-size: 28px;
}

.subtitle {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 16px;
}

.iconsnav {
  display: flex;
}

.icons {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  animation-name: transicionar;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
@keyframes transicionar{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

.button {
  margin-top: 24px;
  border-radius: 50px;
  background-color: var(--color-secondary);
  color: white;
  font-family: var(--font-primary);
  padding: 10px;
  border: solid 1px var(--color-secondary);
}

.button:focus,
.button:hover {
  outline: none;
  background-color: #c70032;
}

.scrool {
  margin-top: 60px;
  box-sizing: border-box;
}
.scrool {
  margin-bottom: 12px;
}

@media (min-width: 480px) {
  .navbar {
    display: flex;
  }
  .nonav {
    width: 75%;
    left: 25%;
  }
}
